* {
    margin: 0;
    padding: 0;
}

.middle-outlet-title {
    display: flex;
    align-items: center;
    justify-content: center;


    font-family: "Poppins";
    font-weight: 400;
    font-size: 26px;
    margin:0 0 54px 0;
}
.middle-outlet-showcase {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.middle-outlet-showcase-one,
.middle-outlet-showcase-two,
.middle-outlet-showcase-three,
.middle-outlet-showcase-four {
    position: relative;
    margin-bottom: 94px;
}

.middle-outlet-showcase-info {
    display: grid;
    justify-content: center;
    justify-items: center;
    cursor:default;
}

.middle-outlet-showcase-title {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5d;
}

.middle-outlet-showcase-ref {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    color: #5d5d5d;
    margin-bottom: 20px;
}
.middle-outlet-showcase-price {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    color: #ff5d46;
    height: 22px;
}

.middle-outlet-showcase-payment {
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 700;
    color: #ff5d46;
}

.middle-outlet-showcase-installments {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
}

.middle-outlet-showcase-fav-eye {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #5d5d5d;
    border-radius: 20px;
    padding:6px 10px;
    position: absolute;
    top: 69%;
    left: 25%;
}

.middle-outlet-showcase-fav,
.middle-outlet-showcase-eye {
    color: #FFFFFF;
    font-size: 8px;
    font-family: 'Poppins';
    font-weight: 400;
    cursor: pointer;
}
.middle-outlet-showcase-fav {
    margin:0 20px 0 0;
}
.middle-outlet-showcase-eye  {
    margin: 0 10px 0 0;
}
.middle-outlet-showcase-bar {
    position: absolute;
    height: 26px;
    color: #d8baaf;
    left: 90px;
    z-index: 1;
    border-right:1px solid #d8baaf;
}

.middle-outlet-showcase-banner {
    cursor: pointer;
}
.middle-outlet-showcase-banner:hover {
    opacity: 80%;
}

.middle-outlet-showcase-banner:hover ~ .middle-outlet-showcase-fav-eye {
    transition: all .2s ease-in-out;
    opacity: 1;
}

.middle-outlet-showcase-fav-eye {
    opacity: 0;
}
.middle-outlet-showcase-fav-eye:hover{
    opacity: 1;
}

.middle-outlet-showcase-fav-img:hover ~ .middle-outlet-showcase-fav{
    opacity: 60%;
}
.middle-outlet-showcase-fav-img:hover {
    opacity: 60%;
}
.middle-outlet-showcase-fav:hover{
    opacity: 60%;
}
.middle-outlet-showcase-eye-img:hover ~ .middle-outlet-showcase-eye{
    opacity: 60%;
}
.middle-outlet-showcase-eye-img:hover {
    opacity: 60%;
}
.middle-outlet-showcase-eye:hover {
    opacity: 60%;
}


.middle-outlet-showcase-buy-button {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
    background-color: #5a5a5a;
    color: #FFFFFF;
    
    width: 280px;
    padding: 8px 0;
    border: 0;
    cursor: pointer;
    margin: 10px 0 42px 0;
}

.middle-outlet-showcase-buy-button:hover,
.middle-outlet-see-all-link:hover {
    transition: all .2s ease-in-out;
    opacity: 80%;
}
.middle-outlet-showcase-buy-button:active,
.middle-outlet-see-all-link:active {
    transition: none;
    opacity: 1;
}

.middle-outlet-see-all,
.middle-outlet-see-all-link {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.middle-outlet-see-all {
    margin-bottom: 70px;
}
.middle-outlet-see-all-text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
}
.middle-outlet-see-all-text-border {
    border-bottom: 2px solid #9e7566;
}

@media screen and (min-width: 1101px) and (max-width:1500px){
    .middle-outlet-showcase-four {
        display: none;
    }
}
@media screen and (min-width: 751px) and (max-width:1100px){
    .middle-outlet-showcase-three,
    .middle-outlet-showcase-four {
        display: none;
    }
}
@media screen and (max-width:750px) {
    .middle-outlet-showcase-two,
    .middle-outlet-showcase-three,
    .middle-outlet-showcase-four {
        display: none;
    }
    .middle-outlet-showcase,
    .middle-outlet-showcase-one {
        display: grid;
        justify-items: center;
        width: 100%;
    }
    .middle-outlet-showcase-banner {
        width: 90%;
    }
    .middle-outlet-showcase-buy-button {
        width: 240px;
    }
    .middle-outlet-showcase-fav-eye{
        top: 65%;
    }
}