<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="middle-banner.css">
    <link rel="stylesheet" href="middle-news.css">
    <title>Wx3</title>
</head>
<body>
        <section class="main-header">
            <div class="header">
                <h1 class="header-logo-desktop"><a href="#">LOGO</a></h1>
                <h3 class="header-categories" > <a href="#"> NEWS </a></h3>
                <h3 class="header-categories" > <a href="#"> CINTAS </a></h3>
                <h3 class="header-categories" > <a href="#"> CALCINHAS </a></h3>
                <h3 class="header-categories" > <a href="#"> PIJAMAS </a></h3>
                <h3 class="header-categories" > <a href="#"> CAMISOLAS </a></h3>
                <h3 class="header-categories" > <a href="#"> GESTANTE </a></h3>
                <h3 class="header-categories" > <a href="#"> SEXY </a></h3>
                <h3 class="header-categories" > <a href="#"> SUTIÃ </a></h3>
                <h3 class="header-categories" > <a href="#"> COLEÇÕES </a></h3>
                <h3 class="header-categories" > <a href="#"> OUTLET </a></h3>
                
                <a href="#">
                    <img class="header-icon-search" src="../images/search-icon.png" alt="Icone de busca"/>
                </a>
                <a class="header-favorite" href="#">
                    <img class="header-icon-favorite" src="../images/favorite-icon.png" alt="Icone de favorito"/>
                    <span class="header-number-favorite">2</span> 
                </a>
                <h3 class="header-logo-mobile"><a href="#">LOGO</a></h3>
                <a class="header-account" href="#">
                    <img class="header-icon-account" src="../images/account-icon.png" alt="Icone de conta"/>
                    <p class="header-text-account" >Login | Cadastre-se</p>
                </a>
                <a class="header-cart" href="#"> 
                    <img class="header-icon-cart" src="../images/cart-icon.png" alt="Icone do carrinho"/>
                    <p class="header-text-cart">R$ 0,00</p>
                    <span class="header-number-cart" >2</span>
                </a>
            </div>
            <div class="main-header-button-mobile">
                <button id="header-button-mobile">CATEGORIAS</button>
                <button id="header-button-mobile2" class="header-button-icon"></button>
                <button id="header-button-mobile3"></button>
            </div>
                <nav id="header-nav">
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> NEWS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> CINTAS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> CALCINHAS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> PIJAMAS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> CAMISOLAS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> GESTANTE</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> SEXY</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> SUTIÃ</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> COLEÇÕES</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> OUTLET</a></h3>
                </nav>
        </section>
        <section class="middle-banners">
                <div class="middle-carousel">
                        <input type="radio" name="radio" id="middle-radio1" checked>
                        <input type="radio" name="radio" id="middle-radio2">
                        <input type="radio" name="radio" id="middle-radio3">
                    <div class="middle-banner-one middle-banner">
                        <img style="width: 100%;" src="../images/banner-one.jpg" alt="Primeiro Banner">
                    </div>
                    <div class="middle-banner-two">
                        <img style="width: 100%;" src="../images/banner-two.jpg" alt="Segundo Banner">
                    </div>
                    <div class="middle-banner-three"> 
                        <img style="width: 100%;" src="../images/banner-three.jpg" alt="Terceiro Banner">
                    </div>

                    <div class="middle-nav-border">
                        <div class="middle-nav-border1"></div>
                        <div class="middle-nav-border2"></div>
                        <div class="middle-nav-border3"></div>
                    </div>

                    <div class="middle-nav-manual">
                        <label for="middle-radio1" class="middle-manual-button-one"> </label>
                        <label for="middle-radio2" class="middle-manual-button-two"> </label>
                        <label for="middle-radio3" class="middle-manual-button-three"> </label>
                    </div>
                </div>
        </section>
        <section class="middle-news">

                <h2 class="middle-news-title">Lançamentos</h2>

            <div class="middle-news-showcase">
                <div class="middle-news-showcase-one">
                    <span class="middle-news-showcase-sale">Lançamento</span>
                    <img class="middle-news-showcase-banner" src="../images/lingerie-one.png" alt="Banner de Lingerie 1" />
                    <div class="middle-news-showcase-fav-eye-fix">
                        <img class="middle-news-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                        <p class="middle-news-showcase-fav">FAVORITAR</p>
                        <div class="middle-news-showcase-bar"></div>
                        <img class="middle-news-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                        <p class="middle-news-showcase-eye">ESPIAR</p>
                    </div>
                    <div class="middle-news-showcase-info">
                        <img src="../images/starts-icon.png" alt="Icone de avaliação" />
                        <h6 class="middle-news-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                        <p class="middle-news-showcase-ref">ref.: pdc202</p>
                        <h6 class="middle-news-showcase-price">R$ 55,90</h6>
                        <p class="middle-news-showcase-payment">no boleto</p>
                        <p class="middle-news-showcase-installments">em até 10x de R$ 6,30</p>
                        <button class="middle-news-showcase-buy-button">COMPRE AGORA</button>
                    </div>
                </div>
                <div class="middle-news-showcase-two">
                    <span class="middle-news-showcase-sale">Lançamento</span>
                    <img class="middle-news-showcase-banner" src="../images/lingerie-two.png" alt="Banner de Lingerie 2" />
                    <div class="middle-news-showcase-fav-eye">
                        <img class="middle-news-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                        <p class="middle-news-showcase-fav">FAVORITAR</p>
                        <div class="middle-news-showcase-bar"></div>
                        <img class="middle-news-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                        <p class="middle-news-showcase-eye">ESPIAR</p>
                    </div>
                    <div class="middle-news-showcase-info">
                        <img src="../images/starts-icon.png" alt="Icone de avaliação" />
                        <h6 class="middle-news-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                        <p class="middle-news-showcase-ref">ref.: pdc202</p>
                        <h6 class="middle-news-showcase-price">R$ 55,90</h6>
                        <p class="middle-news-showcase-payment">no boleto</p>
                        <p class="middle-news-showcase-installments" >em até 10x de R$ 6,30</p>
                    </div>
                </div>
                <div class="middle-news-showcase-three">
                    <span class="middle-news-showcase-sale">Lançamento</span>
                    <img class="middle-news-showcase-banner" src="../images/lingerie-three.png" alt="Banner de Lingerie 3" />
                    <div class="middle-news-showcase-fav-eye">
                        <img class="middle-news-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                        <p class="middle-news-showcase-fav">FAVORITAR</p>
                        <div class="middle-news-showcase-bar"></div>
                        <img class="middle-news-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                        <p class="middle-news-showcase-eye">ESPIAR</p>
                    </div>
                    <div class="middle-news-showcase-info">
                        <img src="../images/starts-icon.png" alt="Icone de avaliação" />
                        <h6 class="middle-news-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                        <p class="middle-news-showcase-ref">ref.: pdc202</p>
                        <h6 class="middle-news-showcase-price">R$ 55,90</h6>
                        <p class="middle-news-showcase-payment">no boleto</p>
                        <p class="middle-news-showcase-installments">em até 10x de R$ 6,30</p>
                    </div>
                </div>
                <div class="middle-news-showcase-four">
                    <span class="middle-news-showcase-sale">Lançamento</span>
                    <img class="middle-news-showcase-banner" src="../images/lingerie-four.png" alt="Banner de Lingerie 3" />
                    <div class="middle-news-showcase-fav-eye">
                        <img class="middle-news-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                        <p class="middle-news-showcase-fav">FAVORITAR</p>
                        <div class="middle-news-showcase-bar"></div>
                        <img class="middle-news-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                        <p class="middle-news-showcase-eye">ESPIAR</p>
                    </div>
                    <div class="middle-news-showcase-info">
                        <img src="../images/starts-icon.png" alt="Icone de avaliação" />
                        <h6 class="middle-news-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                        <p class="middle-news-showcase-ref">ref.: pdc202</p>
                        <h6 class="middle-news-showcase-price">R$ 55,90</h6>
                        <p class="middle-news-showcase-payment">no boleto</p>
                        <p class="middle-news-showcase-installments">em até 10x de R$ 6,30</p>
                    </div>
                </div>
            </div>
            <div class="middle-news-see-all">
                <a class="middle-news-see-all-link" href="#">
                    <h5 class="middle-news-see-all-text middle-news-see-all-text-border">Ver</h5>
                    <h5 class="middle-news-see-all-text">todos</h5>
                </a>
            </div>
        </section>
        <script src="./header.js"></script>
        <script src="./middle-banner.js"></script>
    </body>
    </html>