<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../components/header/header.css">
    <link rel="stylesheet" href="../components/middle-banner/middle-banner.css">
    <link rel="stylesheet" href="../components/middle-news/middle-news.css">
    <link rel="stylesheet" href="../components/middle-payment/middle-payment.css">
    <link rel="stylesheet" href="../components/middle-highlight/middle-highlight.css">
    <link rel="stylesheet" href="../components/middle-blocks/middle-blocks.css">
    <link rel="stylesheet" href="../components/middle-outlet/middle-outlet.css">
    <link rel="stylesheet" href="../components/middle-banner-fix/middle-banner-fix.css">
    <link rel="stylesheet" href="../components/middle-depositions/middle-depositions.css">
    <title>Wx3</title>
</head>
<body>
        <section class="main-header">
            <div class="header">
                <h1 class="header-logo-desktop"><a href="#">LOGO</a></h1>
                <h3 class="header-categories" > <a href="#"> NEWS </a></h3>
                <h3 class="header-categories" > <a href="#"> CINTAS </a></h3>
                <h3 class="header-categories" > <a href="#"> CALCINHAS </a></h3>
                <h3 class="header-categories" > <a href="#"> PIJAMAS </a></h3>
                <h3 class="header-categories" > <a href="#"> CAMISOLAS </a></h3>
                <h3 class="header-categories" > <a href="#"> GESTANTE </a></h3>
                <h3 class="header-categories" > <a href="#"> SEXY </a></h3>
                <h3 class="header-categories" > <a href="#"> SUTIÃ </a></h3>
                <h3 class="header-categories" > <a href="#"> COLEÇÕES </a></h3>
                <h3 class="header-categories" > <a href="#"> OUTLET </a></h3>
                
                <a href="#">
                    <img class="header-icon-search" src="../images/search-icon.png" alt="Icone de busca"/>
                </a>
                <a class="header-favorite" href="#">
                    <img class="header-icon-favorite" src="../images/favorite-icon.png" alt="Icone de favorito"/>
                    <span class="header-number-favorite">2</span> 
                </a>
                <h3 class="header-logo-mobile"><a href="#">LOGO</a></h3>
                <a class="header-account" href="#">
                    <img class="header-icon-account" src="../images/account-icon.png" alt="Icone de conta"/>
                    <p class="header-text-account" >Login | Cadastre-se</p>
                </a>
                <a class="header-cart" href="#"> 
                    <img class="header-icon-cart" src="../images/cart-icon.png" alt="Icone do carrinho"/>
                    <p class="header-text-cart">R$ 0,00</p>
                    <span class="header-number-cart" >2</span>
                </a>
            </div>
            <div class="main-header-button-mobile">
                <button id="header-button-mobile">CATEGORIAS</button>
                <button id="header-button-mobile2" class="header-button-icon"></button>
                <button id="header-button-mobile3"></button>
            </div>
                <nav id="header-nav">
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> NEWS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> CINTAS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> CALCINHAS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> PIJAMAS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> CAMISOLAS</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> GESTANTE</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> SEXY</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> SUTIÃ</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> COLEÇÕES</a></h3>
                    <h3 class="header-categories-mobile" ><a class="header-categories-mobile" href="#"> OUTLET</a></h3>
                </nav>
        </section>
        <section class="middle-banners">
                <div class="middle-carousel">
                        <input type="radio" name="radio" id="middle-radio1" checked>
                        <input type="radio" name="radio" id="middle-radio2">
                        <input type="radio" name="radio" id="middle-radio3">
                    <div class="middle-banner-one middle-banner">
                        <img style="width: 100%;" src="../images/banner-one.jpg" alt="Primeiro Banner">
                    </div>
                    <div class="middle-banner-two">
                        <img style="width: 100%;" src="../images/banner-two.jpg" alt="Segundo Banner">
                    </div>
                    <div class="middle-banner-three"> 
                        <img style="width: 100%;" src="../images/banner-three.jpg" alt="Terceiro Banner">
                    </div>

                    <div class="middle-nav-border">
                        <div class="middle-nav-border1"></div>
                        <div class="middle-nav-border2"></div>
                        <div class="middle-nav-border3"></div>
                    </div>

                    <div class="middle-nav-manual">
                        <label for="middle-radio1" class="middle-manual-button-one"> </label>
                        <label for="middle-radio2" class="middle-manual-button-two"> </label>
                        <label for="middle-radio3" class="middle-manual-button-three"> </label>
                    </div>
                </div>
        </section>
        <section class="middle-news">

                <h2 class="middle-news-title">Lançamentos</h2>

            <div class="middle-news-showcase">
                <div class="middle-news-showcase-one">
                    <span class="middle-news-showcase-sale">Lançamento</span>
                    <img class="middle-news-showcase-banner" src="../images/lingerie-one.png" alt="Banner de Lingerie 1" />
                    <div class="middle-news-showcase-fav-eye-fix">
                        <img class="middle-news-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                        <p class="middle-news-showcase-fav">FAVORITAR</p>
                        <div class="middle-news-showcase-bar"></div>
                        <img class="middle-news-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                        <p class="middle-news-showcase-eye">ESPIAR</p>
                    </div>
                    <div class="middle-news-showcase-info">
                        <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                        <h6 class="middle-news-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                        <p class="middle-news-showcase-ref">ref.: pdc202</p>
                        <h6 class="middle-news-showcase-price">R$ 55,90</h6>
                        <p class="middle-news-showcase-payment">no boleto</p>
                        <p class="middle-news-showcase-installments">em até 10x de R$ 6,30</p>
                        <button class="middle-news-showcase-buy-button">COMPRE AGORA</button>
                    </div>
                </div>
                <div class="middle-news-showcase-two">
                    <span class="middle-news-showcase-sale">Lançamento</span>
                    <img class="middle-news-showcase-banner" src="../images/lingerie-two.png" alt="Banner de Lingerie 2" />
                    <div class="middle-news-showcase-fav-eye">
                        <img class="middle-news-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                        <p class="middle-news-showcase-fav">FAVORITAR</p>
                        <div class="middle-news-showcase-bar"></div>
                        <img class="middle-news-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                        <p class="middle-news-showcase-eye">ESPIAR</p>
                    </div>
                    <div class="middle-news-showcase-info">
                        <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                        <h6 class="middle-news-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                        <p class="middle-news-showcase-ref">ref.: pdc202</p>
                        <h6 class="middle-news-showcase-price">R$ 55,90</h6>
                        <p class="middle-news-showcase-payment">no boleto</p>
                        <p class="middle-news-showcase-installments" >em até 10x de R$ 6,30</p>
                    </div>
                </div>
                <div class="middle-news-showcase-three">
                    <span class="middle-news-showcase-sale">Lançamento</span>
                    <img class="middle-news-showcase-banner" src="../images/lingerie-three.png" alt="Banner de Lingerie 3" />
                    <div class="middle-news-showcase-fav-eye">
                        <img class="middle-news-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                        <p class="middle-news-showcase-fav">FAVORITAR</p>
                        <div class="middle-news-showcase-bar"></div>
                        <img class="middle-news-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                        <p class="middle-news-showcase-eye">ESPIAR</p>
                    </div>
                    <div class="middle-news-showcase-info">
                        <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                        <h6 class="middle-news-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                        <p class="middle-news-showcase-ref">ref.: pdc202</p>
                        <h6 class="middle-news-showcase-price">R$ 55,90</h6>
                        <p class="middle-news-showcase-payment">no boleto</p>
                        <p class="middle-news-showcase-installments">em até 10x de R$ 6,30</p>
                    </div>
                </div>
                <div class="middle-news-showcase-four">
                    <span class="middle-news-showcase-sale">Lançamento</span>
                    <img class="middle-news-showcase-banner" src="../images/lingerie-four.png" alt="Banner de Lingerie 3" />
                    <div class="middle-news-showcase-fav-eye">
                        <img class="middle-news-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                        <p class="middle-news-showcase-fav">FAVORITAR</p>
                        <div class="middle-news-showcase-bar"></div>
                        <img class="middle-news-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                        <p class="middle-news-showcase-eye">ESPIAR</p>
                    </div>
                    <div class="middle-news-showcase-info">
                        <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                        <h6 class="middle-news-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                        <p class="middle-news-showcase-ref">ref.: pdc202</p>
                        <h6 class="middle-news-showcase-price">R$ 55,90</h6>
                        <p class="middle-news-showcase-payment">no boleto</p>
                        <p class="middle-news-showcase-installments">em até 10x de R$ 6,30</p>
                    </div>
                </div>
            </div>
            <div class="middle-news-see-all">
                <a class="middle-news-see-all-link" href="#">
                    <h5 class="middle-news-see-all-text middle-news-see-all-text-border">Ver</h5>
                    <h5 class="middle-news-see-all-text">todos</h5>
                </a>
            </div>
        </section>
        <section class="main-middle-payment">
            <div class="middle-payment">
                <div class="middle-payment-column">
                    <img src="../images/box-icon.png" alt="Icone da caixa" />
                    <p class="middle-payment-text"><strong class="middle-payment-text">FRETE GRÁTIS </strong>A PARTIR DE <br />  R$ 199 (SUDESTE) E R$ 299 (BRASIL)  </p>
                </div>
                <div class="middle-payment-column">
                    <img src="../images/boleto-icon.png" alt="Icone do boleto" />
                    <p class="middle-payment-text"><strong class="middle-payment-text">10% DE DESCONTO </strong>NO <br/>  BOLETO BANCÁRIO / DEPÓSITO</p>
                </div>
                <div class="middle-payment-column">
                    <img src="../images/one-cart-icon.png" alt="Icone de um cartão" />
                    <p class="middle-payment-text"><strong class="middle-payment-text">ATÉ 10X SEM JUROS </strong><br /> NOS CARTÕES DE CRÉDITO</p>
                </div>
                <div class="middle-payment-column">
                    <img src="../images/two-carts-icon.png" alt="Icone de dois cartões" />
                    <p class="middle-payment-text">PAGAMENTO COM ATÉ <strong class="middle-payment-text"><br/>2 CARTÕES</strong></p>
                </div>
            </div>
        </section>
        <section class="middle-highlight">

            <h2 class="middle-highlight-title">Destaques</h2>

        <div class="middle-highlight-showcase">
            <div class="middle-highlight-showcase-one">
                <img class="middle-highlight-showcase-banner" src="../images/lingerie-one.png" alt="Banner de Lingerie 1" />
                <div class="middle-highlight-showcase-fav-eye">
                    <img class="middle-highlight-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                    <p class="middle-highlight-showcase-fav">FAVORITAR</p>
                    <div class="middle-highlight-showcase-bar"></div>
                    <img class="middle-highlight-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                    <p class="middle-highlight-showcase-eye">ESPIAR</p>
                </div>
                <div class="middle-highlight-showcase-info">
                    <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                    <h6 class="middle-highlight-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                    <p class="middle-highlight-showcase-ref">ref.: pdc202</p>
                    <h6 class="middle-highlight-showcase-price">R$ 55,90</h6>
                    <p class="middle-highlight-showcase-payment">no boleto</p>
                    <p class="middle-highlight-showcase-installments">em até 10x de R$ 6,30</p>
                </div>
            </div>
            <div class="middle-highlight-showcase-two">
                <img class="middle-highlight-showcase-banner" src="../images/lingerie-two.png" alt="Banner de Lingerie 2" />
                <div class="middle-highlight-showcase-fav-eye">
                    <img class="middle-highlight-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                    <p class="middle-highlight-showcase-fav">FAVORITAR</p>
                    <div class="middle-highlight-showcase-bar"></div>
                    <img class="middle-highlight-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                    <p class="middle-highlight-showcase-eye">ESPIAR</p>
                </div>
                <div class="middle-highlight-showcase-info">
                    <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                    <h6 class="middle-highlight-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                    <p class="middle-highlight-showcase-ref">ref.: pdc202</p>
                    <h6 class="middle-highlight-showcase-price">R$ 55,90</h6>
                    <p class="middle-highlight-showcase-payment">no boleto</p>
                    <p class="middle-highlight-showcase-installments" >em até 10x de R$ 6,30</p>
                </div>
            </div>
            <div class="middle-highlight-showcase-three">
                <img class="middle-highlight-showcase-banner" src="../images/lingerie-three.png" alt="Banner de Lingerie 3" />
                <div class="middle-highlight-showcase-fav-eye">
                    <img class="middle-highlight-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                    <p class="middle-highlight-showcase-fav">FAVORITAR</p>
                    <div class="middle-highlight-showcase-bar"></div>
                    <img class="middle-highlight-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                    <p class="middle-highlight-showcase-eye">ESPIAR</p>
                </div>
                <div class="middle-highlight-showcase-info">
                    <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                    <h6 class="middle-highlight-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                    <p class="middle-highlight-showcase-ref">ref.: pdc202</p>
                    <h6 class="middle-highlight-showcase-price">R$ 55,90</h6>
                    <p class="middle-highlight-showcase-payment">no boleto</p>
                    <p class="middle-highlight-showcase-installments">em até 10x de R$ 6,30</p>
                </div>
            </div>
            <div class="middle-highlight-showcase-four">
                <img class="middle-highlight-showcase-banner" src="../images/lingerie-four.png" alt="Banner de Lingerie 3" />
                <div class="middle-highlight-showcase-fav-eye">
                    <img class="middle-highlight-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                    <p class="middle-highlight-showcase-fav">FAVORITAR</p>
                    <div class="middle-highlight-showcase-bar"></div>
                    <img class="middle-highlight-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                    <p class="middle-highlight-showcase-eye">ESPIAR</p>
                </div>
                <div class="middle-highlight-showcase-info">
                    <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                    <h6 class="middle-highlight-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                    <p class="middle-highlight-showcase-ref">ref.: pdc202</p>
                    <h6 class="middle-highlight-showcase-price">R$ 55,90</h6>
                    <p class="middle-highlight-showcase-payment">no boleto</p>
                    <p class="middle-highlight-showcase-installments">em até 10x de R$ 6,30</p>
                </div>
            </div>
        </div>
        <div class="middle-highlight-see-all">
            <a class="middle-highlight-see-all-link" href="#">
                <h5 class="middle-highlight-see-all-text middle-highlight-see-all-text-border">Ver</h5>
                <h5 class="middle-highlight-see-all-text">todos</h5>
            </a>
        </div>
    </section>
    <section class="middle-blocks">
        <div class="middle-blocks-camisole">
            <div class="middle-blocks-info">
            <h4 class="middle-blocks-title">Camisolas</h4>
            <p class="middle-blocks-text">Para quem <br class="middle-block-broken" /> quer relaxar</p>
            <button class="middle-blocks-button-camisole">VEJA MAIS</button>
            </div>
        </div>
        <div class="middle-blocks-night-and-bra">
            <div class="middle-blocks-night">
                <div class="middle-blocks-info-night">
                <h4 class="middle-blocks-title">Linha noite</h4>
                <p class="middle-blocks-text">Para quem ama <br class="middle-block-broken"/> praticidade</p>
                <button class="middle-blocks-button-night">VEJA MAIS</button>
            </div>
        </div>
            <div class="middle-blocks-bra">
                <div class="middle-blocks-info">
                    <h4 class="middle-blocks-title">Sutiãs</h4>
                    <p class="middle-blocks-text">Para quem <br class="middle-block-broken"/> ama conforto</p>
                    <button class="middle-blocks-button-bra">VEJA MAIS</button>
                </div>
            </div>
        </div>
    </section>
    <section class="middle-outlet">
        <h2 class="middle-outlet-title">Outlet</h2>
        <div class="middle-outlet-showcase">
            <div class="middle-outlet-showcase-one">
                <img class="middle-outlet-showcase-banner" src="../images/lingerie-one.png" alt="Banner de Lingerie 1" />
                <div class="middle-outlet-showcase-fav-eye">
                    <img class="middle-outlet-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                    <p class="middle-outlet-showcase-fav">FAVORITAR</p>
                    <div class="middle-outlet-showcase-bar"></div>
                    <img class="middle-outlet-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                    <p class="middle-outlet-showcase-eye">ESPIAR</p>
                </div>
                <div class="middle-outlet-showcase-info">
                    <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                    <h6 class="middle-outlet-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                    <p class="middle-outlet-showcase-ref">ref.: pdc202</p>
                    <h6 class="middle-outlet-showcase-price">R$ 55,90</h6>
                    <p class="middle-outlet-showcase-payment">no boleto</p>
                    <p class="middle-outlet-showcase-installments">em até 10x de R$ 6,30</p>
                </div>
            </div>
            <div class="middle-outlet-showcase-two">
                <img class="middle-outlet-showcase-banner" src="../images/lingerie-two.png" alt="Banner de Lingerie 2" />
                <div class="middle-outlet-showcase-fav-eye">
                    <img class="middle-outlet-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                    <p class="middle-outlet-showcase-fav">FAVORITAR</p>
                    <div class="middle-outlet-showcase-bar"></div>
                    <img class="middle-outlet-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                    <p class="middle-outlet-showcase-eye">ESPIAR</p>
                </div>
                <div class="middle-outlet-showcase-info">
                    <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                    <h6 class="middle-outlet-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                    <p class="middle-outlet-showcase-ref">ref.: pdc202</p>
                    <h6 class="middle-outlet-showcase-price">R$ 55,90</h6>
                    <p class="middle-outlet-showcase-payment">no boleto</p>
                    <p class="middle-outlet-showcase-installments" >em até 10x de R$ 6,30</p>
                </div>
            </div>
            <div class="middle-outlet-showcase-three">
                <img class="middle-outlet-showcase-banner" src="../images/lingerie-three.png" alt="Banner de Lingerie 3" />
                <div class="middle-outlet-showcase-fav-eye">
                    <img class="middle-outlet-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                    <p class="middle-outlet-showcase-fav">FAVORITAR</p>
                    <div class="middle-outlet-showcase-bar"></div>
                    <img class="middle-outlet-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                    <p class="middle-outlet-showcase-eye">ESPIAR</p>
                </div>
                <div class="middle-outlet-showcase-info">
                    <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                    <h6 class="middle-outlet-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                    <p class="middle-outlet-showcase-ref">ref.: pdc202</p>
                    <h6 class="middle-outlet-showcase-price">R$ 55,90</h6>
                    <p class="middle-outlet-showcase-payment">no boleto</p>
                    <p class="middle-outlet-showcase-installments">em até 10x de R$ 6,30</p>
                </div>
            </div>
            <div class="middle-outlet-showcase-four">
                <img class="middle-outlet-showcase-banner" src="../images/lingerie-four.png" alt="Banner de Lingerie 3" />
                <div class="middle-outlet-showcase-fav-eye">
                    <img class="middle-outlet-showcase-fav-img" src="../images/favorite-icon-two.png" alt="Icone de coração branco" />
                    <p class="middle-outlet-showcase-fav">FAVORITAR</p>
                    <div class="middle-outlet-showcase-bar"></div>
                    <img class="middle-outlet-showcase-eye-img" src="../images/eye-icon.png" alt="Icone de olho" />
                    <p class="middle-outlet-showcase-eye">ESPIAR</p>
                </div>
                <div class="middle-outlet-showcase-info">
                    <img src="../images/stars-icon.png" alt="Icone de avaliação" />
                    <h6 class="middle-outlet-showcase-title">Lorem Ipsum quia dolor sit amet</h6>
                    <p class="middle-outlet-showcase-ref">ref.: pdc202</p>
                    <h6 class="middle-outlet-showcase-price">R$ 55,90</h6>
                    <p class="middle-outlet-showcase-payment">no boleto</p>
                    <p class="middle-outlet-showcase-installments">em até 10x de R$ 6,30</p>
                </div>
            </div>
        </div>
            <div class="middle-outlet-see-all">
                <a class="middle-outlet-see-all-link" href="#">
                    <h5 class="middle-outlet-see-all-text middle-outlet-see-all-text-border">Ver</h5>
                    <h5 class="middle-outlet-see-all-text">todos</h5>
                </a>
            </div>
    </section>
    <section class="middle-banner-full">
            <img class="middle-banner-full-fix"src="../images/banner-fix.jpg" alt="Banner full fixo">
    </section>
    <section class="main-middle-depositions">
            <div class="middle-depositions">
                <h4 class="middle-depositions-title">Depoimentos</h4>
                <h6 class="middle-depositions-subtitle">O que as nossas clientes estão dizendo</h6>
            </div>
            <div class="middle-despositions-info">
                <div class="middle-depositions-info-one">
                    <div class="middle-despositions-info-person-one">
                        <img src="../images/person-one.png" alt="Imagem da pessoa um" />
                        <div class="middle-despositions-name-city">
                            <h5 class="middle-depositions-info-name">Eliana A.</h5>
                            <h6 class="middle-despositions-info-city">São José do Rio Preto - SP</h6>
                            <img src="../images/stars-icon-depositions.png" alt="Icone de avaliação">
                        </div>
                    </div>
                            <div class="middle-despositions-info-text">
                                <img class="middle-despositions-info-text-image-one" src="../images/marks-start.png" alt="Icone aspas inicio">
                                <p class="middle-despositions-info-description">“   Lorem Ipsum is simply dummy text  of the printing and typesseting  “</p>
                                <img class="middle-despositions-info-text-image-two" src="../images/marks-end.png" alt="Icone aspas final">
                            </div>
                </div>
                <div class="middle-depositions-info-two">
                    <div class="middle-despositions-info-person-two">
                        <img src="../images/person-two.png" alt="Imagem da pessoa dois" />
                        <div class="middle-despositions-name-city">
                            <h5 class="middle-depositions-info-name">Eliana A.</h5>
                            <h6 class="middle-despositions-info-city">São José do Rio Preto - SP</h6>
                            <img src="../images/stars-icon-depositions.png" alt="Icone de avaliação">
                        </div>
                    </div>
                        <div class="middle-despositions-info-text">
                            <img class="middle-despositions-info-text-image-one" src="../images/marks-start.png" alt="Icone aspas inicio">
                            <p class="middle-despositions-info-description">“   Lorem Ipsum is simply dummy text  of the printing and typesseting  “</p>
                            <img class="middle-despositions-info-text-image-two" src="../images/marks-end.png" alt="Icone aspas final">
                        </div>
                </div>
                <div class="middle-depositions-info-three">
                    <div class="middle-despositions-info-person-three">
                        <img src="../images/person-three.png" alt="Imagem da pessoa três" />
                        <div class="middle-despositions-name-city">
                            <h5 class="middle-depositions-info-name">Eliana A.</h5>
                            <h6 class="middle-despositions-info-city">São José do Rio Preto - SP</h6>
                            <img src="../images/stars-icon-depositions.png" alt="Icone de avaliação">
                        </div>
                    </div>
                        <div class="middle-despositions-info-text">
                            <img class="middle-despositions-info-text-image-one" src="../images/marks-start.png" alt="Icone aspas inicio">
                            <p class="middle-despositions-info-description">“   Lorem Ipsum is simply dummy text  of the printing and typesseting  “</p>
                            <img class="middle-despositions-info-text-image-two" src="../images/marks-end.png" alt="Icone aspas final">
                        </div>
                </div>
            </div>
                    <input type="radio" name="radio-despositions" id="radio-despositions1" />
                    <input type="radio" name="radio-despositions" id="radio-despositions2" />
                    <input type="radio" name="radio-despositions" id="radio-despositions3" />
                    <input type="radio" name="radio-despositions" id="radio-despositions4" />
                    <input type="radio" name="radio-despositions" id="radio-despositions5" />
                <div class="middle-despositions-labels">
                    <label for="radio-despositions1" class="middle-despositions-radio1"> </label>
                    <label for="radio-despositions2" class="middle-despositions-radio2"> </label>
                    <label for="radio-despositions3" class="middle-despositions-radio3"> </label>
                    <label for="radio-despositions4" class="middle-despositions-radio4"> </label>
                    <label for="radio-despositions5" class="middle-despositions-radio5"> </label>
                </div>
                <div class="main-middle-despositions-check">
                    <div class="middle-despositions-check1"> </div>
                    <div class="middle-despositions-check2"> </div>
                    <div class="middle-despositions-check3"> </div>
                    <div class="middle-despositions-check4"> </div>
                    <div class="middle-despositions-check5"> </div>
                </div>
    </section>
        <script src="../components/header/header.js"></script>
        <script src="../components/middle-banner/middle-banner.js"></script>
    </body>
    </html>