.middle-highlight {
    position: relative;
    overflow: hidden;
}

.middle-highlight-title {
    display: flex;
    align-items: center;
    justify-content: center;


    font-family: "Poppins";
    font-weight: 400;
    font-size: 26px;
    margin:0 0 54px 0;
}
#middle-highlight-showcase1,
#middle-highlight-showcase2,
#middle-highlight-showcase3 {
    display: flex;
    justify-content: center;
    gap: 30px;
    transition: all 1s ease-in-out
}
#middle-highlight-showcase1 {
    margin-top: 30px;
}
#middle-highlight-product1,
#middle-highlight-product2, 
#middle-highlight-product3 {
    display: none;
}

.middle-highlight-balls,
.middle-highlight-effect {
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    margin-right: 260px;
    margin-bottom: 20px;
}
.middle-highlight-effect {
    margin-top: -38px;
    margin-right: 297px;
}

#middle-highlight-showcase2 {
    margin-top: -33%;
}
#middle-highlight-showcase3 {
    margin-top: -33%;
}


.middle-highlight-balls-effect1,
.middle-highlight-balls-effect2, 
.middle-highlight-balls-effect3 {
    background-color: #5a5a5a;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    opacity: 0;
}

#middle-highlight-product1:checked ~ .middle-highlight-effect .middle-highlight-balls-effect1 {
    opacity: 1;
}
#middle-highlight-product2:checked ~ .middle-highlight-effect .middle-highlight-balls-effect2 {
    opacity: 1;
}
#middle-highlight-product3:checked ~ .middle-highlight-effect .middle-highlight-balls-effect3 {
    opacity: 1;
}

#middle-highlight-product1:checked ~ #middle-highlight-showcase1 {
    transform: translateX(0);
}
#middle-highlight-product1:checked ~ #middle-highlight-showcase2 {
    transform: translateX(2000px);
}
#middle-highlight-product1:checked ~ #middle-highlight-showcase3 {
    transform: translateX(2000px);
}
#middle-highlight-product2:checked ~ #middle-highlight-showcase2 {
    transform: translateX(0);
}
#middle-highlight-product2:checked ~ #middle-highlight-showcase1 {
    transform: translateX(2000px);
}
#middle-highlight-product2:checked ~ #middle-highlight-showcase3 {
    transform: translateX(2000px);
}
#middle-highlight-product3:checked ~ #middle-highlight-showcase3 {
    transform: translateX(0);
}
#middle-highlight-product3:checked ~ #middle-highlight-showcase1 {
    transform: translateX(2000px);
}
#middle-highlight-product3:checked ~ #middle-highlight-showcase2 {
    transform: translateX(2000px);
}


.middle-highlight-balls1,
.middle-highlight-balls2,
.middle-highlight-balls3 {
    padding: 7px;
    border: 2px solid #5a5a5a;
    border-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

#middle-highlight-button-back,
#middle-highlight-button-next {
    border:0; 
    background-color:#FFFFFF; 
    cursor: pointer;
}

.middle-highlight-arrow-back {
    border-top: 1px solid #5a5a5a;
    border-left: 1px solid #5a5a5a;
    width: 16px;
    height: 16px;
    transform: rotateZ(-45deg);
}
.middle-highlight-arrow-next {
    border-top: 1px solid #5a5a5a;
    border-right: 1px solid #5a5a5a;
    width: 16px;
    height: 16px;
    transform: rotateZ(45deg);
}

.middle-highlight-showcase-one,
.middle-highlight-showcase-two,
.middle-highlight-showcase-three,
.middle-highlight-showcase-four {
    position: relative;
}

.middle-highlight-showcase-sale {
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
    padding:0 8px;
    background-color: #666666;
    border-radius: 2px;

    position: absolute;
    top: 12px;
    left: 18px;
}

.middle-highlight-showcase-info {
    display: grid;
    justify-content: center;
    justify-items: center;
    cursor:default;
}

.middle-highlight-showcase-title {
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5d;
}

.middle-highlight-showcase-ref {
    font-size: 12px;
    font-weight: 400;
    color: #5d5d5d;
    margin-bottom: 20px;
}
.middle-highlight-showcase-price {
    font-size: 16px;
    font-weight: 700;
    color: #ff5d46;
    height: 22px;
}

.middle-highlight-showcase-payment {
    font-size: 10px;
    font-weight: 700;
    color: #ff5d46;
}

.middle-highlight-showcase-installments {
    font-weight: 400;
    font-size: 10px;
}

.middle-highlight-showcase-fav-eye,
.middle-highlight-showcase-fav-eye-fix {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #5d5d5d;
    border-radius: 20px;
    padding:6px 10px;
    position: absolute;
    top: 60%;
    left: 25%;
}

.middle-highlight-showcase-fav,
.middle-highlight-showcase-eye {
    color: #FFFFFF;
    font-size: 8px;
    font-weight: 400;
    cursor: pointer;
}
.middle-highlight-showcase-fav {
    margin:0 20px 0 0;
}
.middle-highlight-showcase-eye  {
    margin: 0 10px 0 0;
}
.middle-highlight-showcase-bar {
    position: absolute;
    height: 26px;
    color: #d8baaf;
    left: 90px;
    z-index: 1;
    border-right:1px solid #d8baaf;
}

.middle-highlight-showcase-banner {
    cursor: pointer;
}
.middle-highlight-showcase-banner:hover {
    opacity: 80%;
}

.middle-highlight-showcase-banner:hover ~ .middle-highlight-showcase-fav-eye {
    transition: all .2s ease-in-out;
    opacity: 1;
}

.middle-highlight-showcase-fav-eye {
    opacity: 0;
}
.middle-highlight-showcase-fav-eye:hover{
    opacity: 1;
}

.middle-highlight-showcase-fav-img:hover ~ .middle-highlight-showcase-fav{
    opacity: 60%;
}
.middle-highlight-showcase-fav-img:hover {
    opacity: 60%;
}
.middle-highlight-showcase-fav:hover{
    opacity: 60%;
}
.middle-highlight-showcase-eye-img:hover ~ .middle-highlight-showcase-eye{
    opacity: 60%;
}
.middle-highlight-showcase-eye-img:hover {
    opacity: 60%;
}
.middle-highlight-showcase-eye:hover {
    opacity: 60%;
}


.middle-highlight-showcase-buy-button {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 3px;
    background-color: #5a5a5a;
    color: #FFFFFF;
    
    width: 280px;
    padding: 8px 0;
    border: 0;
    cursor: pointer;
    margin: 10px 0 42px 0;
}

.middle-highlight-showcase-buy-button:hover,
.middle-highlight-see-all-link:hover {
    transition: all .2s ease-in-out;
    opacity: 80%;
}
.middle-highlight-showcase-buy-button:active,
.middle-highlight-see-all-link:active {
    transition: none;
    opacity: 1;
}

.middle-highlight-see-all,
.middle-highlight-see-all-link {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.middle-highlight-see-all {
    margin-bottom: 70px;
    margin-top: 280px;
}
.middle-highlight-see-all-text {
    font-weight: 400;
    font-size: 20px;
}
.middle-highlight-see-all-text-border {
    border-bottom: 2px solid #5a5a5a;
}

@media screen and (min-width: 1101px) and (max-width:1500px){
    .middle-highlight-showcase-four {
        display: none;
    }
}
@media screen and (min-width: 751px) and (max-width:1100px){
    .middle-highlight-showcase-three,
    .middle-highlight-showcase-four {
        display: none;
    }
}

@media screen and (max-width:750px) {
    .middle-highlight-showcase-two,
    .middle-highlight-showcase-three,
    .middle-highlight-showcase-four {
        display: none;
    }
    
    .middle-highlight-showcase-one {
        display: grid;
        justify-items: center;
        width: 100%;
    }

    #middle-highlight-showcase2,
    #middle-highlight-showcase3 {
        margin-top: 30px;
    }

    .middle-highlight-showcase-banner {
        width: 90%;
        max-width: 296px;
    }
    .middle-highlight-showcase-sale {
        display: none;
    }
    .middle-highlight-showcase-buy-button {
        width: 240px;
    }
    .middle-highlight-showcase-fav-eye-fix {
        display: none;
    }

    .middle-highlight-balls {
        margin: 0;
        justify-content: center;
    }
    .middle-highlight-effect {
        margin: -18px 0 0 0;
        justify-content: center;
    }

    #middle-highlight-product1:checked ~ #middle-highlight-showcase1 {
        display: block;
    }
    #middle-highlight-product1:checked ~ #middle-highlight-showcase2 {
        display: none;
    }
    #middle-highlight-product1:checked ~ #middle-highlight-showcase3 {
        display: none;
    }
    #middle-highlight-product2:checked ~ #middle-highlight-showcase2 {
        display: block;
    }
    #middle-highlight-product2:checked ~ #middle-highlight-showcase1 {
        display: none;
    }
    #middle-highlight-product2:checked ~ #middle-highlight-showcase3 {
        display: none;
    }
    #middle-highlight-product3:checked ~ #middle-highlight-showcase3 {
        display: block;
    }
    #middle-highlight-product3:checked ~ #middle-highlight-showcase1 {
        display: none;
    }
    #middle-highlight-product3:checked ~ #middle-highlight-showcase2 {
        display: none;
    }
}